/* &display=swap&subset=cyrillic-ext */

/* Connect Fonts with Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Festive:regular&display=swap");

/* Connect Fonts use local files */

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ------------- */

img {
  max-width: 100%;
}

body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.2;
	color: #222;
}

.main {
	padding-bottom: 30px;
	border-radius: 30px;
}

.header {
	font-family: "Festive", sans-serif;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  font-size: 0;
  vertical-align: top;
  overflow: hidden;
  background: url("../img/header/header_bg.png") 0% / cover no-repeat;
}

.page__title {
	text-align: center;
	font-size: 50px;
  font-weight: 700;
  color: #b4f00e;
  text-shadow: -2px 4px 7px #29c2e4;
  letter-spacing: 0.03em;
}

.task-1__title,
.task-2__title,
.task-3__title,
.task-4__title {
  font-family: "Festive", sans-serif;
  font-size: 55px;
  line-height: 150%;
  color: #b4f00e;
  text-align: center;
  padding: 20px 0;
  margin: 20px auto;
  background: #030038;
  background: linear-gradient(to bottom, rgb(28, 69, 116) 
	0%,rgba(125,185,232,0) 100%);
  text-align: center;
  text-shadow: -2px 4px 7px #000;
	border-radius: 30px;
}

.task-1__title {
	margin-top: 160px;
}

.relative {
	background: url("../img/task_1/nature.png") 100% 100% / 100% no-repeat;
	border-radius: 30px;
}

.relative__container {
  font-size: 0;
  padding: 100px 0;
}

.relative__box {
  text-align: center;
  min-height: 900px;
}

.relative__img {
	border-radius: 20px;
}

.relative__item {
  display: inline-block;
  position: relative;
}

.relative__item_center-top-left {
  top: 30px;
  left: -30px;
}

.relative__item_right-top-left {
  top: 60px;
  left: -60px;
}

.absolute {
	background: url("../img/task_2/birds.png") 50% / 100% repeat, 	
	url("../img/task_2/nature.webp") 50% / cover no-repeat;
	border-radius: 30px;
}

.absolute__box {
  position: relative;
  min-height: 1000px;
}

.absolute__item {
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.absolute__item_bottom-left {
  bottom: 0;
  left: 0;
}

.absolute__item_bottom-right {
  bottom: 0;
  right: 0;
}

.absolute__item_top-left {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute__img_border-radius {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.absolute__img_border-radius-left {
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
}

.absolute__img_border-radius-right {
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
}

.absolute__img_border-radius-left-bottom {
  border-radius: 0% 100% 100% 0% / 100% 100% 0% 0%;
}

.absolute__img_border-radius-bottom-right {
  border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
}

.absolute__img_border-top {
  border-radius: 30% 70% 50% 50% / 0% 0% 100% 100%;
}

.absolute__img_border-bottom {
  border-radius: 50% 50% 0% 100% / 100% 100% 0% 0%;
}

.absolute__item_top-left {
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform: scaleX(-1);
}

.absolute__item_top-right {
  top: 0;
  right: 0;
}

.absolute__item_right-top {
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.absolute__item_right-bottom {
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.absolute__item_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}








.nav {
	display: block;
}

.nav__list{
	display: block;
	text-align: center;
}

.list__item {
	display: inline-block;
	font-size: 20px;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	text-transform: uppercase;
	margin: 10px 20px;
	padding: 5px 10px;
}

.list__link{
	display: inline-block;
	text-shadow: 3px 3px 5px #29c2e4;
	box-shadow: 5px 4px 10px 2px #29c2e4, inset 4px 4px 10px 2px #ed9490;
	padding: 7px 18px;
	border-radius: 20px;
	color:#fff;
}

.list__link:hover {
	color: #b4f00e;
	text-decoration: underline;
	transition: color 0.5s ease-in-out;
}

.footer__img {
	width: 60px;
	margin: 0 0 -30px;
}

.work {

}

